@import url(/fields/droparea.css);

input, textarea, select {
    appearance: none;
    width: 100%;
    border: 1px solid var(--stroke-default);
    border-radius: .3rem;
    padding: .75rem 1rem;

    font: var(--text);
}

.select-wrapper {
    select {
        width: 107%;
    }
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);
    display: block;
    margin-bottom: .25rem;
}

input:focus, select:focus, textarea:focus {
    outline: .25rem solid var(--surface-secondary);
    border: .125rem solid var(--stroke-highlight);
}

input[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::before {
        content: "";
        position: absolute;
        background: url(/assets/icons/calendar-03.svg);
        center/contain;
        width: 1.40rem;
        height: 1.40rem;
        right: 1rem;

        top: 50%;
        transform: translateY(-50%);
    }
}

select {
    background: url(/assets/icons/arrow-down-01.svg) no-repeat 97%;

}

textarea {
    height: 6rem;
}

.flex {
    display: flex;
    gap: 3rem;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.adress {
    margin-block: 3rem;
}

.input-wrapper:has([disabled]) {
    opacity: .5;
}

input {
    &[disabled] {
        background-color: var(--surface-disabled)
    }

    &:invalid {
        border: .125rem solid var(--semantic-error)
    }

    &[required] + .error {
        
            display: flex;
            align-items: center;
            gap: .5rem;
            padding-top: .2rem;
            color: var(--semantic-error);
    }

    &:not(:focus) :valid + .error {
        display: none;
    }
    
} 

.input-wrapper {
    small {
        color: #78716c;
        font: .9rem;
        line-height: 1.4;
        display: inline-block;
        margin-top: .35rem;
    }
}  


    
